html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
}

h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  padding-top: 8px;
}
footer i {
  padding: 0px 20px;
  padding-top: 10px;
}

footer a {
  color: #ffffff;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
}

.fondo_color {
  background-color: rgba(0, 0, 0, 0.233);
}

.imagen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 180px;
}

.imagen1 {
  background-image: url("../../assets/img/card1.jpg");
}

.imagen2 {
  background-image: url("../../assets/img/card2.jpg");
}

.imagen3 {
  background-image: url("../../assets/img/card3.jpg");
}

.imagen4 {
  background-image: url("../../assets/img/card4.jpg");
}

@media (max-width: 575.98px) {
  .desaparecer {
   /*  visibility: hidden; */
   display: none;
  }
  h4 {
    font-size: 25px;
    }
    .fab {
      font-size: 25px;
      margin: 0px;
      padding: 10px;
  }
  
}
